@mixin round-box{
  @content;
  border-radius: 4%;
}

@mixin flex-center{
  display:flex;
  justify-content: center;
  align-items:center;
  @content;
}

@mixin column-base{
  min-width:20em;
  max-width: 20em;
}

@mixin column-title-base{
  height: 1.5rem;
  padding: 1em 0;
  border-bottom: 1px solid darkgray;
}